h1{
    background-color: rgb(233, 127, 201);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200; 
}
body{
    background-color: rgb(110, 207, 231);
    font-family: serif;
}