{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block heading %}Create Account{% endblock %}
{% block content %}
<form action="/register" method="POST">
    <div>
        <label for="username">Email</label>
        <input type="text" id="username" name="username" placeholder="username@gmail.com" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password" required />
    </div>
    <button type="submit" class="submit">Register</button>
</form>
<div class="auth-footer">
    Already have an account? <a href="/login">Sign in</a>
</div>
{% endblock %}
